body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    padding-bottom: 150px;  
}
.half-with{
    width: 50%;
    padding-left: 5%; 
    
}
.half-with img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, salmon);
    padding: 10px 40px;
    border-radius: 7px;
    color: antiquewhite;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-seation{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#my-ex{
    padding-left: 5%;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
}
#pro-journy{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 1;
}
#baby-wab{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

